# --- Git and local clutter ---
.git
.gitignore
*.log
*.tmp
*.swp
__pycache__/
**/__pycache__/
**/.ipynb_checkpoints/
*.pyc

# --- Environment / cache dirs ---
.env
*.env
.mamba
.conda
.venv
*.egg-info
.cache/
.ipython/

# --- Snakemake / pipelines ---
.snakemake
*.snakemake

# --- System files ---
.DS_Store
*/.DS_Store
Thumbs.db
