gocmd
cyverse-access-token
*/.snakemake
.snakemake
2-sequence-parsing/python-scripts/signalp6_fast
#2-sequence-parsing/processed-data/signalP/*
#!2-sequence-parsing/processed-data/signalP/prediction_results.txt
#2-sequence-parsing/processed-data/signalP

# ignore everything in data-files except Yeast Interactome files
0-download-inputs/data-files/*
!0-download-inputs/data-files/The_Yeast_Interactome*
!0-download-inputs/data-files/DisProt*
!0-download-inputs/data-files/1-s2.0-S2211124714009346-mmc2.*
