gocmd
cyverse-access-token
*/.snakemake
.snakemake

docker/examples/.ipynb_checkpoints

# do not copy SignalP into the GitHub repo
3-sequence-parsing/python-scripts/signalp6_fast

# ignore everything in 0-download-inputs/data-files
0-download-inputs/data-files/*

# ignore all */processed-data/scores directories from Rosetta & FoldX
7-Rosetta-scoring/processed-data/scores
7-Rosetta-scoring/old

#
11-predict-PTMs/backup-July152026.tar.gz
11-predict-PTMs/processed-data/*predictions.csv
11-predict-PTMs/processed-data/*-predictions-processed.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Acetylation_K.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Acetylation_K_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Acetylation_K_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Amidation_V.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Amidation_V_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Amidation_V_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Formylation_K.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Formylation_K_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Formylation_K_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Glutarylation_K.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Glutarylation_K_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Glutarylation_K_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Glutathionylation_C.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Glutathionylation_C_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Glutathionylation_C_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Hydroxylation_K.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Hydroxylation_K_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Hydroxylation_K_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Hydroxylation_P.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Hydroxylation_P_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Hydroxylation_P_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Malonylation_K.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Malonylation_K_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Malonylation_K_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Methylation_K.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Methylation_K_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Methylation_K_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Methylation_R.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Methylation_R_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Methylation_R_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-N-linked_Glycosylation_N.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-N-linked_Glycosylation_N_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-N-linked_Glycosylation_N_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-O-linked_Glycosylation_ST.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-O-linked_Glycosylation_ST_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-O-linked_Glycosylation_ST_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Phosphorylation_ST.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Phosphorylation_ST_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Phosphorylation_ST_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Phosphorylation_Y.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Phosphorylation_Y_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Phosphorylation_Y_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Succinylation_K.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Succinylation_K_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Succinylation_K_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Sumoylation_K.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Sumoylation_K_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Sumoylation_K_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-S-nitrosylation_C.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-S-nitrosylation_C_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-S-nitrosylation_C_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-S-palmitoylation_C.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-S-palmitoylation_C_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-S-palmitoylation_C_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Ubiquitination_K.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Ubiquitination_K_part0.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-Ubiquitination_K_part1.csv
11-predict-PTMs/processed-data/intersection-in-vitro-athaliana-step11.pkl
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Acetylation_K.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Acetylation_K_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Acetylation_K_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Amidation_V.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Amidation_V_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Amidation_V_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Formylation_K.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Formylation_K_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Formylation_K_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Glutarylation_K.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Glutarylation_K_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Glutarylation_K_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Glutathionylation_C.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Glutathionylation_C_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Glutathionylation_C_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Hydroxylation_K.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Hydroxylation_K_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Hydroxylation_K_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Hydroxylation_P.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Hydroxylation_P_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Hydroxylation_P_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Malonylation_K.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Malonylation_K_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Malonylation_K_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Methylation_K.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Methylation_K_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Methylation_K_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Methylation_R.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Methylation_R_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Methylation_R_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-N-linked_Glycosylation_N.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-N-linked_Glycosylation_N_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-N-linked_Glycosylation_N_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-O-linked_Glycosylation_ST.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-O-linked_Glycosylation_ST_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-O-linked_Glycosylation_ST_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Phosphorylation_ST.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Phosphorylation_ST_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Phosphorylation_ST_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Phosphorylation_Y.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Phosphorylation_Y_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Phosphorylation_Y_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Succinylation_K.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Succinylation_K_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Succinylation_K_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Sumoylation_K.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Sumoylation_K_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Sumoylation_K_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-S-nitrosylation_C.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-S-nitrosylation_C_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-S-nitrosylation_C_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-S-palmitoylation_C.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-S-palmitoylation_C_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-S-palmitoylation_C_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Ubiquitination_K.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Ubiquitination_K_part0.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-Ubiquitination_K_part1.csv
11-predict-PTMs/processed-data/intersection-in-vivo-athaliana-step11.pkl
11-predict-PTMs/processed-data/in-vitro-athaliana-Acetylation_K.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Acetylation_K_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Acetylation_K_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Amidation_V.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Amidation_V_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Amidation_V_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Formylation_K.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Formylation_K_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Formylation_K_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Glutarylation_K.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Glutarylation_K_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Glutarylation_K_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Glutathionylation_C.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Glutathionylation_C_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Glutathionylation_C_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Hydroxylation_K.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Hydroxylation_K_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Hydroxylation_K_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Hydroxylation_P.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Hydroxylation_P_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Hydroxylation_P_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Malonylation_K.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Malonylation_K_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Malonylation_K_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Methylation_K.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Methylation_K_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Methylation_K_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Methylation_R.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Methylation_R_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Methylation_R_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-N-linked_Glycosylation_N.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-N-linked_Glycosylation_N_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-N-linked_Glycosylation_N_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-O-linked_Glycosylation_ST.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-O-linked_Glycosylation_ST_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-O-linked_Glycosylation_ST_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Phosphorylation_ST.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Phosphorylation_ST_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Phosphorylation_ST_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Phosphorylation_Y.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Phosphorylation_Y_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Phosphorylation_Y_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Succinylation_K.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Succinylation_K_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Succinylation_K_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Sumoylation_K.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Sumoylation_K_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Sumoylation_K_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-S-nitrosylation_C.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-S-nitrosylation_C_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-S-nitrosylation_C_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-S-palmitoylation_C.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-S-palmitoylation_C_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-S-palmitoylation_C_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Ubiquitination_K.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Ubiquitination_K_part0.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-Ubiquitination_K_part1.csv
11-predict-PTMs/processed-data/in-vitro-athaliana-step11.pkl
11-predict-PTMs/processed-data/in-vivo-athaliana-Acetylation_K.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Acetylation_K_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Acetylation_K_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Amidation_V.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Amidation_V_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Amidation_V_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Formylation_K.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Formylation_K_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Formylation_K_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Glutarylation_K.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Glutarylation_K_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Glutarylation_K_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Glutathionylation_C.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Glutathionylation_C_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Glutathionylation_C_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Hydroxylation_K.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Hydroxylation_K_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Hydroxylation_K_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Hydroxylation_P.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Hydroxylation_P_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Hydroxylation_P_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Malonylation_K.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Malonylation_K_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Malonylation_K_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Methylation_K.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Methylation_K_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Methylation_K_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Methylation_R.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Methylation_R_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Methylation_R_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-N-linked_Glycosylation_N.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-N-linked_Glycosylation_N_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-N-linked_Glycosylation_N_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-O-linked_Glycosylation_ST.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-O-linked_Glycosylation_ST_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-O-linked_Glycosylation_ST_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Phosphorylation_ST.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Phosphorylation_ST_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Phosphorylation_ST_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Phosphorylation_Y.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Phosphorylation_Y_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Phosphorylation_Y_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Succinylation_K.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Succinylation_K_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Succinylation_K_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Sumoylation_K.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Sumoylation_K_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Sumoylation_K_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-S-nitrosylation_C.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-S-nitrosylation_C_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-S-nitrosylation_C_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-S-palmitoylation_C.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-S-palmitoylation_C_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-S-palmitoylation_C_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Ubiquitination_K.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Ubiquitination_K_part0.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-Ubiquitination_K_part1.csv
11-predict-PTMs/processed-data/in-vivo-athaliana-step11.pkl
11-predict-PTMs/processed-data/union-athaliana-Acetylation_K.csv
11-predict-PTMs/processed-data/union-athaliana-Acetylation_K_part0.csv
11-predict-PTMs/processed-data/union-athaliana-Acetylation_K_part1.csv
11-predict-PTMs/processed-data/union-athaliana-Amidation_V.csv
11-predict-PTMs/processed-data/union-athaliana-Amidation_V_part0.csv
11-predict-PTMs/processed-data/union-athaliana-Amidation_V_part1.csv
11-predict-PTMs/processed-data/union-athaliana-Formylation_K.csv
11-predict-PTMs/processed-data/union-athaliana-Formylation_K_part0.csv
11-predict-PTMs/processed-data/union-athaliana-Formylation_K_part1.csv
11-predict-PTMs/processed-data/union-athaliana-Glutarylation_K.csv
11-predict-PTMs/processed-data/union-athaliana-Glutarylation_K_part0.csv
11-predict-PTMs/processed-data/union-athaliana-Glutarylation_K_part1.csv
11-predict-PTMs/processed-data/union-athaliana-Glutathionylation_C.csv
11-predict-PTMs/processed-data/union-athaliana-Glutathionylation_C_part0.csv
11-predict-PTMs/processed-data/union-athaliana-Glutathionylation_C_part1.csv
11-predict-PTMs/processed-data/union-athaliana-Hydroxylation_K.csv
11-predict-PTMs/processed-data/union-athaliana-Hydroxylation_K_part0.csv
11-predict-PTMs/processed-data/union-athaliana-Hydroxylation_K_part1.csv
11-predict-PTMs/processed-data/union-athaliana-Hydroxylation_P.csv
11-predict-PTMs/processed-data/union-athaliana-Hydroxylation_P_part0.csv
11-predict-PTMs/processed-data/union-athaliana-Hydroxylation_P_part1.csv
11-predict-PTMs/processed-data/union-athaliana-Malonylation_K.csv
11-predict-PTMs/processed-data/union-athaliana-Malonylation_K_part0.csv
11-predict-PTMs/processed-data/union-athaliana-Malonylation_K_part1.csv
11-predict-PTMs/processed-data/union-athaliana-Methylation_K.csv
11-predict-PTMs/processed-data/union-athaliana-Methylation_K_part0.csv
11-predict-PTMs/processed-data/union-athaliana-Methylation_K_part1.csv
11-predict-PTMs/processed-data/union-athaliana-Methylation_R.csv
11-predict-PTMs/processed-data/union-athaliana-Methylation_R_part0.csv
11-predict-PTMs/processed-data/union-athaliana-Methylation_R_part1.csv
11-predict-PTMs/processed-data/union-athaliana-N-linked_Glycosylation_N.csv
11-predict-PTMs/processed-data/union-athaliana-N-linked_Glycosylation_N_part0.csv
11-predict-PTMs/processed-data/union-athaliana-N-linked_Glycosylation_N_part1.csv
11-predict-PTMs/processed-data/union-athaliana-O-linked_Glycosylation_ST.csv
11-predict-PTMs/processed-data/union-athaliana-O-linked_Glycosylation_ST_part0.csv
11-predict-PTMs/processed-data/union-athaliana-O-linked_Glycosylation_ST_part1.csv
11-predict-PTMs/processed-data/union-athaliana-Phosphorylation_ST.csv
11-predict-PTMs/processed-data/union-athaliana-Phosphorylation_ST_part0.csv
11-predict-PTMs/processed-data/union-athaliana-Phosphorylation_ST_part1.csv
11-predict-PTMs/processed-data/union-athaliana-Phosphorylation_Y.csv
11-predict-PTMs/processed-data/union-athaliana-Phosphorylation_Y_part0.csv
11-predict-PTMs/processed-data/union-athaliana-Phosphorylation_Y_part1.csv
11-predict-PTMs/processed-data/union-athaliana-Succinylation_K.csv
11-predict-PTMs/processed-data/union-athaliana-Succinylation_K_part0.csv
11-predict-PTMs/processed-data/union-athaliana-Succinylation_K_part1.csv
11-predict-PTMs/processed-data/union-athaliana-Sumoylation_K.csv
11-predict-PTMs/processed-data/union-athaliana-Sumoylation_K_part0.csv
11-predict-PTMs/processed-data/union-athaliana-Sumoylation_K_part1.csv
11-predict-PTMs/processed-data/union-athaliana-S-nitrosylation_C.csv
11-predict-PTMs/processed-data/union-athaliana-S-nitrosylation_C_part0.csv
11-predict-PTMs/processed-data/union-athaliana-S-nitrosylation_C_part1.csv
11-predict-PTMs/processed-data/union-athaliana-S-palmitoylation_C.csv
11-predict-PTMs/processed-data/union-athaliana-S-palmitoylation_C_part0.csv
11-predict-PTMs/processed-data/union-athaliana-S-palmitoylation_C_part1.csv
11-predict-PTMs/processed-data/union-athaliana-Ubiquitination_K.csv
11-predict-PTMs/processed-data/union-athaliana-Ubiquitination_K_part0.csv
11-predict-PTMs/processed-data/union-athaliana-Ubiquitination_K_part1.csv
11-predict-PTMs/processed-data/union-athaliana-step11.pkl

# do not upload all protein structures to GitHub
# helper function is provided to copy them into place when creating the container
docker/ANYI-browser/structures/*
docker/*/.ipynb_checkpoints
docker/*/*/.ipynb_checkpoints
docker/ANYI-browser/python_scripts/__pycache__/
figures/*/.ipynb_checkpoints
figures/.ipynb_checkpoints
.DS_Store
*/.DS_Store
