#------------------------------------------
# GLOBAL VARIABLES
#------------------------------------------

# label applied to all outputs; should be the source organism
organism_label: "s288c"

# output prefix applied to all outputs
output_prefix: "0"

# directory containing all downloaded data files
data_dir: "0-download-inputs/data-files"


#------------------------------------------
# DOWNLOAD INPUT FILES
#------------------------------------------

download_inputs:
  working_dir: "0-download-inputs"


#------------------------------------------
# NETWORK CENTRALITY CALCULATIONS
#------------------------------------------

network_centrality:
  output_dir: "processed-data"


#------------------------------------------
# SEQUENCE PARSING
#------------------------------------------

sequence_parsing:
  input_dir: "../1-network-centrality/processed-data"
  output_dir: "processed-data"
  map_file: "YEAST_559292_idmapping.dat"


#------------------------------------------
# ANNOTATION WITH UNIPROT INFO
#------------------------------------------

uniprot_annotation:
  output_dir: "processed-data"


#------------------------------------------
# IDR IDENTIFICATION & PROPERTY PREDICTION
#------------------------------------------

idr_propertoes:
  output_dir: "processed-data"


#------------------------------------------
# ΔG PREDICTIONS
#------------------------------------------

dG_predictions:
  output_dir: "processed-data"
