#------------------------------------------
# GLOBAL VARIABLES
#------------------------------------------

# output prefix applied to all outputs
output_prefix: "intersection-in-vitro"

# label applied to all outputs; should be the source organism
organism_label: "athaliana"

# directory containing all downloaded data files
data_dir: "0-download-inputs/data-files"


#------------------------------------------
# DOWNLOAD INPUT FILES
#------------------------------------------

download_inputs:
  working_dir: "0-download-inputs"
  gocommands: "/home/dan182/gocmd"
  cyverse_directory: "/iplant/home/shared/NCEMS/working-groups/energetic-origins/arabidopsis-thaliana/0-download-inputs/data-files"


#------------------------------------------
# NETWORK CENTRALITY CALCULATIONS
#------------------------------------------

network_centrality:
  output_dir: "processed-data"
  output_suffix: "step2"
  test_dir: "test"
  edges: "1-parse-interactome/processed-data/intersection-in-vitro-edges.csv"
  nodes: "1-parse-interactome/processed-data/intersection-nodes.csv"
  cos_dist_path: "python-scripts/CentralityCosDist"

#------------------------------------------
# UPDATES REQUIRED BELOW THIS POINT
#------------------------------------------

#------------------------------------------
# SEQUENCE PARSING
#------------------------------------------

sequence_parsing:
  input_nodes: "1-network-centrality/processed-data/0-athaliana-step1.csv"
  output_dir: "processed-data"
  output_suffix: "step2"  
  fasta: "TAIR12_pep.fasta"
  map_file: "ARATH_3702_idmapping.dat"
  signalp_fasta_suffix: "-signalP-input-sequences.fasta"
  signalp_dir: "athaliana-signalp-6.0h-fast"
  organism_type: "eukarya"
  sequence_column: "sequence"


#------------------------------------------
# ANNOTATION WITH UNIPROT INFO
#------------------------------------------

uniprot_annotation:
  obo_file: "go-basic.obo"
  input_nodes: "2-sequence-parsing/processed-data/0-athaliana-step2.csv"
  output_dir: "processed-data"
  output_suffix: "step3"
  organism: "Arabidopsis thaliana (Mouse-ear cress)"
  use_ptmexchange: False


#------------------------------------------
# IDR IDENTIFICATION & PROPERTY PREDICTION
#------------------------------------------

idr_properties:
  input_nodes: "3-uniprot-annotation/processed-data/0-athaliana-step3.csv"
  output_dir: "processed-data"
  output_suffix: "step4"
  min_idr_length: 30
  seq_column: "signalP_trimmed_sequence"
  disprot_database: "DisProt-release_2024_12-with_ambiguous_evidences-cleaned.tsv"
  disprot_organism: "Arabidopsis thaliana (Mouse-ear cress)"


#------------------------------------------
# ΔG PREDICTIONS
#------------------------------------------

dG_predictions:
  input_nodes: "4-idr-properties/processed-data/0-athaliana-step4.pkl"
  output_dir: "processed-data"
  output_suffix: "step5"
  temperature: 295
  ESM_model: "0-download-inputs/data-files/esm_if1_gvp4_t16_142M_UR50.pt"
  structure_dir: "0-download-inputs/data-files"
  seq_column: "final_sequence"
  test_dir: "test"
  AF2_dir: "/home/dan182/energetic-origins/alphafold2-structures/athaliana"
  

#------------------------------------------
# ROSETTA SCORING
#------------------------------------------

Rosetta_scoring:
  relax_executable: "/home/dan182/energetic-origins/rosetta.binary.ubuntu.release-371/main/source/bin/relax.static.linuxgccrelease"
  input_nodes: "5-dG-calculations/processed-data/0-athaliana-step5.pkl"
  output_dir: "processed-data"
  output_suffix: "step6"
  structure_dir: "0-download-inputs/data-files"
  nprocessors: 96
  n_structures: 10


#------------------------------------------
# PROTEIN HALF-LIFE
#------------------------------------------

protein_half_life: 
  input_nodes: "6-Rosetta-scoring/processed-data/0-athaliana-step6.pkl"
  output_dir: "processed-data"
  output_suffix: "step7"
  halflife_db1: "0-download-inputs/data-files/1-s2.0-S2211124714009346-mmc2.csv"
  halflife_db2: "0-download-inputs/data-files/1-s2.0-S2405471217303411-mmc2.csv"


#------------------------------------------
# PROTEIN EXPRESSION
#------------------------------------------

protein_expression:
  input_nodes: "7-protein-half-life/processed-data/0-athaliana-step7.pkl"
  output_dir: "processed-data"
  output_suffix: "step8"
  expression_db: "0-download-inputs/data-files/1-s2.0-S240547121730546X-mmc5.csv"


#------------------------------------------
# TRANSLATION EFFICIENCY
#------------------------------------------

translation_efficiency:
  input_nodes: "8-protein-expression/processed-data/0-athaliana-step8.pkl"
  output_dir: "processed-data"
  output_suffix: "step9"
  raw_data_dir: "0-download-inputs/data-files/"
  data_file: "skr_weinberg_genesTE.csv"


#------------------------------------------
# PREDICT POST-TRANSLATIONAL MODIFICATIONS
#------------------------------------------

predict_PTMs:
  input_nodes: "9-translation-efficiency/processed-data/0-athaliana-step9.pkl"
  output_dir: "processed-data"
  output_suffix: "step10"
  gpt_model_path: "/home/dan182/energetic-origins/PTMGPT-2-models"
  tokenizer_path: "/home/dan182/energetic-origins/test-PTMGPT2/PTMGPT2/Tokenizer"
  seq_column: "signalP_trimmed_sequence"


#------------------------------------------
# ENTANGLEMENT INFORMATION
#------------------------------------------

entanglement:
  input_nodes: "10-predict-PTMs/processed-data/0-athaliana-step10.pkl"
  output_dir: "processed-data"
  output_suffix: "step11"
  AF2_data: "Yeast_AF_combined_20250530.csv"
  exp_data: "Yeast_EXP_combined_20250530.csv"


#------------------------------------------
# CHAPERONE INFORMATION
#------------------------------------------

chaperone:
  input_nodes: "11-entanglement/processed-data/0-athaliana-step11.pkl"
  output_dir: "processed-data"
  output_suffix: "step12"
  chaperone_data: "1-s2.0-S2211124717312160-mmc2.tsv"


#------------------------------------------
# OLIGOMER INFORMATION
#------------------------------------------

oligomer:
  input_nodes: "12-chaperones/processed-data/0-athaliana-step12.pkl"
  output_dir: "processed-data"
  output_suffix: "step13"
  oligomer_data: "559292.tsv"


#------------------------------------------
# DOMAIN ANNOTATIONS
#------------------------------------------

domain_annotations:
  input_nodes: "13-oligomers/processed-data/0-athaliana-step13.pkl"
  output_dir: "processed-data"
  output_suffix: "step14"
  annotations: "protein2ipr.dat"


#------------------------------------------
# ESSENTIALITY INFORMATION
#------------------------------------------

essentiality:
  input_nodes: "14-domain-annotations/processed-data/0-athaliana-step14.pkl"
  output_dir: "processed-data"
  output_suffix: "step15"
  essentiality_data: "inviable_annotations-mod.txt"
  strain_filter: "athaliana"


#------------------------------------------
# Y2H NETWORK INFORMATION
#------------------------------------------

Y2H:
  input_nodes: "15-essentiality/processed-data/0-athaliana-step15.pkl"
  output_dir: "processed-data"
  output_suffix: "step16"
  Y2H_prefix: "Y2H"
  nodes: "Y2H_union-clean_nodes.csv"
  edges: "Y2H_union-clean_edges.csv"
  centrality_script: "1-network-centrality/python-scripts/network-centrality.py"
  cos_dist_path: "1-network-centrality/python-scripts/CentralityCosDist"
  test_dir: "1-network-centrality/test"  


#------------------------------------------
# MELTING POINT INFORMATION
#------------------------------------------

meltome:
  input_nodes: "16-Y2H-data/processed-data/0-athaliana-step16.pkl"
  output_dir: "processed-data"
  output_suffix: "step17"
  meltome_data: "meltome-atlas-ma_0010.txt"
  

#------------------------------------------
# FINALIZE NODES
#------------------------------------------

finalize_nodes:
  input_nodes: "17-meltome-atlas/processed-data/0-athaliana-step17.pkl"
  final_prefix: "20260210"
  output_dir: "processed-data"
  output_suffix: "ANnnotated-Yeast-Interactome"
