#------------------------------------------
# GLOBAL VARIABLES
#------------------------------------------

# output prefix applied to all outputs
output_prefix: "0"

# label applied to all outputs; should be the source organism
organism_label: "s288c"

# directory containing all downloaded data files
data_dir: "0-download-inputs/data-files"


#------------------------------------------
# DOWNLOAD INPUT FILES
#------------------------------------------

download_inputs:
  working_dir: "0-download-inputs"


#------------------------------------------
# NETWORK CENTRALITY CALCULATIONS
#------------------------------------------

network_centrality:
  output_dir: "processed-data"
  test_dir: "test"
  edges: "The_Yeast_Interactome_edges.csv"
  nodes: "The_Yeast_Interactome_nodes.csv"
  cos_dist_path: "python-scripts/CentralityCosDist"


#------------------------------------------
# SEQUENCE PARSING
#------------------------------------------

sequence_parsing:
  input_dir: "1-network-centrality/processed-data"
  output_dir: "processed-data"
  fasta: "orf_trans.fasta"
  map_file: "YEAST_559292_idmapping.dat"
  signalp_fasta_suffix: "-signalP-input-sequences.fasta"
  signalp_dir: "s288c-signalp-6.0h-fast"
  organism_type: "eukarya"
  sequence_column: "sequence"


#------------------------------------------
# ANNOTATION WITH UNIPROT INFO
#------------------------------------------

uniprot_annotation:
  input_dir: "2-sequence-parsing/processed-data"
  output_dir: "processed-data"
  organism: "Saccharomyces cerevisiae (strain ATCC 204508 / S288c)"
  ptmexchange: "Yeast_GSB_phospho_all_prots_0125.csv"

#------------------------------------------
# IDR IDENTIFICATION & PROPERTY PREDICTION
#------------------------------------------

idr_properties:
  input_dir: "3-uniprot-annotation/processed-data"
  output_dir: "processed-data"
  min_idr_length: 30
  disorder_resi_cut: 0.5
  seq_column: "signalP_trimmed_sequence"
  disprot_database: "0-download-inputs/data-files/DisProt-release_2024_12-with_ambiguous_evidences-cleaned.tsv"
  disprot_organism: "Saccharomyces cerevisiae (strain ATCC 204508 / S288c)"


#------------------------------------------
# ΔG PREDICTIONS
#------------------------------------------

dG_predictions:
  input_dir: "4-idr-properties/processed-data"
  output_dir: "processed-data"
  run_cagiada: True
  temperature: 300
  ESM_model: "0-download-inputs/data-files/esm_if1_gvp4_t16_142M_UR50.pt"
  structure_dir: "0-download-inputs/data-files"
  seq_column: "final_sequence"
  test_dir: "test"
  AF2_dir: "/home/dan182/energetic-origins/alphafold2-structures/s288c"

#------------------------------------------
# Rosetta scoring
#------------------------------------------

Rosetta_scoring:
  relax_executable: "/home/dan182/energetic-origins/rosetta.binary.ubuntu.release-371/main/source/bin/relax.static.linuxgccrelease"
  input_dir: "5-dG-calculations/processed-data"
  output_dir: "processed-data"
  structure_dir: "0-download-inputs/data-files"
  nprocessors: 96


#------------------------------------------
# FoldX free energy prediction
#------------------------------------------

FoldX:
  executable: "/home/dan182/energetic-origins/FoldX/foldx_20251231"
  input_dir: "6-Rosetta-scoring/processed-data"
  output_dir: "processed-data"
  nprocessors: 96
  structure_dir: "6-Rosetta-scoring/processed-data/scores"


#------------------------------------------
# Protein half-life
#------------------------------------------

protein_half_life: 
  input_dir: "7-FoldX-scoring/processed-data"
  output_dir: "processed-data"
  halflife_db: "0-download-inputs/data-files/1-s2.0-S2211124714009346-mmc2.csv"


#------------------------------------------
# Protein expression
#------------------------------------------

protein_expression:
  input_dir: "8-protein-half-life/processed-data"
  output_dir: "processed-data"
  expression_db: "0-download-inputs/data-files/1-s2.0-S240547121730546X-mmc5.csv"


#------------------------------------------
# Translation speed
#------------------------------------------

translation_speed:
  input_dir: "9-protein-expression/processed-data"
  output_dir: "processed-data"
  raw_data_dir: "0-download-inputs/data-files/"
  data_file: "skr_weinberg_genesTE.csv"

#------------------------------------------
# Predict post-translational modifications
#------------------------------------------

predict_PTMs:
  input_dir: "10-translation-speed/processed-data"
  output_dir: "processed-data"
  gpt_model_path: "/home/dan182/energetic-origins/PTMGPT-2-models"
  tokenizer_path: "/home/dan182/energetic-origins/test-PTMGPT2/PTMGPT2/Tokenizer"

#------------------------------------------
# Integrate LiP-MS data from Stephen Fried
#------------------------------------------

LiP_MS:
  input_dir: "11-predict-PTMs/processed-data"
  output_dir: "processed-data"
  refolding1_1: "20210721_YeastRefold_ProteinSummary_1min_meta.csv"
  refolding5_1: "20210721_YeastRefold_ProteinSummary_5min_meta.csv"
  refolding120_1: "20210721_YeastRefold_ProteinSummary_2hr_meta.csv"
  refolding1_2: "20220505_YeastRefolding_ProteinSummary_1min_meta.csv"
  refolding1_2_2: "20220505_YeastRefolding_ProteinSummary_1min_duplicate_meta.csv"
  refolding5_2: "20220505_YeastRefolding_ProteinSummary_1min_meta.csv"
  refolding5_2_2: "20220505_YeastRefolding_ProteinSummary_5min_duplicate_meta.csv"
  refolding120_2: "20220505_YeastRefolding_ProteinSummary_2hr_meta.csv"
  heatshock: "20220314_HeatShock_ProteinSummary_meta.csv"
  recovery: "20220314_Recovery_ProteinSummary_meta.csv"

#------------------------------------------
# Integrate entanglements from O'Brien Lab
#------------------------------------------

entanglement:
  input_dir: "12-LiP-MS/processed-data"
  output_dir: "processed-data"
  AF2_data: "Yeast_AF_combined_20250530.csv"
  exp_data: "Yeast_EXP_combined_20250530.csv"

#------------------------------------------
# Integrate chaperone information
#------------------------------------------

chaperone:
  input_dir: "13-entanglement/processed-data"
  output_dir: "processed-data"
  chaperone_data: "1-s2.0-S2211124717312160-mmc2.tsv"

#------------------------------------------
# Integrate oligomer information
#------------------------------------------

oligomer:
  input_dir: "14-chaperones/processed-data"
  output_dir: "processed-data"
  oligomer_data: "559292.tsv"

#------------------------------------------
# Integrate domain annotations
#------------------------------------------

domain_annotations:
  input_dir: "15-oligomers/processed-data"
  output_dir: "processed-data"
  annotations: "protein2ipr.dat"

#------------------------------------------
# Integrate domain annotations
#------------------------------------------

essentiality:
  input_dir: "16-domain-annotations/processed-data"
  output_dir: "processed-data"
  essentiality_data: "inviable_annotations-mod.txt"
  strain_filter: "S288C"

#------------------------------------------
# Get Y2H network info & integrate
#------------------------------------------

Y2H:
  input_dir: "17-essentiality/processed-data"
  output_dir: "processed-data"
  Y2H_prefix: "Y2H"
  nodes: "Y2H_union-clean_nodes.csv"
  edges: "Y2H_union-clean_edges.csv"
  centrality_script: "1-network-centrality/python-scripts/network-centrality.py"
  cos_dist_path: "1-network-centrality/python-scripts/CentralityCosDist"
  test_dir: "1-network-centrality/test"  

#------------------------------------------
# Flatten nodes pd.DataFrame
#------------------------------------------

flatten_nodes:
  input_dir: "18-Y2H-data/processed-data"
  final_prefix: "5"
  output_dir: "processed-data"
