#------------------------------------------
# GLOBAL VARIABLES
#------------------------------------------

# output prefix applied to all outputs
output_prefix: "0"

# label applied to all outputs; should be the source organism
organism_label: "s288c"

# directory containing all downloaded data files
data_dir: "0-download-inputs/data-files"


#------------------------------------------
# DOWNLOAD INPUT FILES
#------------------------------------------

download_inputs:
  working_dir: "0-download-inputs"


#------------------------------------------
# NETWORK CENTRALITY CALCULATIONS
#------------------------------------------

network_centrality:
  output_dir: "processed-data"
  test_dir: "test"
  edges: "The_Yeast_Interactome_edges.csv"
  nodes: "The_Yeast_Interactome_nodes.csv"
  cos_dist_path: "python-scripts/CentralityCosDist"


#------------------------------------------
# SEQUENCE PARSING
#------------------------------------------

sequence_parsing:
  input_dir: "1-network-centrality/processed-data"
  output_dir: "processed-data"
  fasta: "orf_trans.fasta"
  map_file: "YEAST_559292_idmapping.dat"
  signalp_fasta_suffix: "-signalP-input-sequences.fasta"
  signalp_dir: "s288c-signalp-6.0h-fast"
  signalp_path: "/home/jovyan/data-store/home/shared/NCEMS/working-groups/energetic-origins/signalp6_fast/"
  organism_type: "eukarya"
  sequence_column: "sequence"


#------------------------------------------
# ANNOTATION WITH UNIPROT INFO
#------------------------------------------

uniprot_annotation:
  input_dir: "2-sequence-parsing/processed-data"
  output_dir: "processed-data"
  organism: "Saccharomyces cerevisiae (strain ATCC 204508 / S288c) (Baker's yeast)."


#------------------------------------------
# IDR IDENTIFICATION & PROPERTY PREDICTION
#------------------------------------------

idr_properties:
  input_dir: "3-uniprot-annotation/processed-data"
  output_dir: "processed-data"
  min_idr_length: 30
  disorder_resi_cut: 0.5
  seq_column: "signalP_trimmed_sequence"
  disprot_database: "0-download-inputs/data-files/DisProt-release_2024_12-with_ambiguous_evidences-cleaned.tsv"
  disprot_organism: "Saccharomyces cerevisiae (strain ATCC 204508 / S288c)"


#------------------------------------------
# ΔG PREDICTIONS
#------------------------------------------

dG_predictions:
  input_dir: "4-idr-properties/processed-data"
  output_dir: "processed-data"
  run_cagiada: True
  temperature: 300
  ESM_model: "0-download-inputs/data-files/esm_if1_gvp4_t16_142M_UR50.pt"
  structure_dir: "0-download-inputs/data-files"
  seq_column: "signalP_trimmed_sequence"
  test_dir: "test"
  AF2_databases: "../alphafold_databases"
  AF2_docker_script: "../alphafold/docker/run_docker.py"
  max_template_date: "2022-01-01"


#------------------------------------------
# Rosetta scoring
#------------------------------------------

Rosetta_scoring:
  relax_executable: "/home/dan182/energetic-origins/rosetta.binary.ubuntu.release-371/main/source/bin/relax.static.linuxgccrelease"
  input_dir: "5-dG-calculations/processed-data"
  output_dir: "processed-data"
  structure_dir: "0-download-inputs/data-files"
  nprocessors: 48


#------------------------------------------
# FoldX free energy prediction
#------------------------------------------

FoldX:
  executable: "/home/dan182/energetic-origins/FoldX/foldx_20251231"
  input_dir: "6-Rosetta-scoring/processed-data"
  output_dir: "processed-data"
  nprocessors: 48
  structure_dir: "6-Rosetta-scoring/processed-data/scores"


#------------------------------------------
# Protein half-life
#------------------------------------------

protein_half_life: 
  input_dir: "7-FoldX-scoring/processed-data"
  output_dir: "processed-data"
  halflife_db: "0-download-inputs/data-files/1-s2.0-S2211124714009346-mmc2.csv"


#------------------------------------------
# Protein expression
#------------------------------------------

protein_expression:
  input_dir: "8-protein-half-life/processed-data"
  output_dir: "processed-data"
  expression_db: "0-download-inputs/data-files/1-s2.0-S240547121730546X-mmc5.csv"


#------------------------------------------
# Translation speed
#------------------------------------------

translation_speed:
  input_dir: "9-protein-expression/processed-data"
  output_dir: "processed-data"
  raw_data_dir: "0-download-inputs/data-files/"
  ribo_seq_data:
    - A-site_profiles_Jan.tab
    - A-site_profiles_Nissley1.tab
    - A-site_profiles_Nissley2.tab
    - A-site_profiles_Weinberg.tab
    - A-site_profiles_Williams.tab
    - A-site_profiles_Young.tab


#------------------------------------------
# Predict post-translational modifications
#------------------------------------------

predict_PTMs:
  input_dir: "10-translation-speed/processed-data"
  output_dir: "processed-data"
  gpt_model_path: "/home/dan182/energetic-origins/PTMGPT-2-models"
  tokenizer_path: "/home/dan182/energetic-origins/test-PTMGPT2/PTMGPT2/Tokenizer"
  

#------------------------------------------
# Flatten nodes pd.DataFrame
#------------------------------------------

flatten_nodes:
  input_dir: "11-predict-PTMs/processed-data"
  output_dir: "processed-data"
