#------------------------------------------
# GLOBAL VARIABLES
#------------------------------------------

# output prefix applied to all outputs
output_prefix: "0"

# label applied to all outputs; should be the source organism
organism_label: "s288c"

# directory containing all downloaded data files
data_dir: "0-download-inputs/data-files"


#------------------------------------------
# DOWNLOAD INPUT FILES
#------------------------------------------

download_inputs:
  working_dir: "0-download-inputs"


#------------------------------------------
# NETWORK CENTRALITY CALCULATIONS
#------------------------------------------

network_centrality:
  output_dir: "processed-data"
  test_dir: "test"
  edges: "The_Yeast_Interactome_edges.csv"
  cos_dist_path: "python-scripts/CentralityCosDist"


#------------------------------------------
# SEQUENCE PARSING
#------------------------------------------

sequence_parsing:
  input_dir: "1-network-centrality/processed-data"
  output_dir: "processed-data"
  fasta: "orf_trans.fasta"
  map_file: "YEAST_559292_idmapping.dat"
  signalp_fasta_suffix: "-signalP-input-sequences.fasta"
  signalp_dir: "s288c-signalp-6.0h-fast"
  signalp_path: "/home/jovyan/data-store/home/shared/NCEMS/working-groups/energetic-origins/signalp6_fast/"
  organism_type: "eukarya"
  sequence_column: "sequence"


#------------------------------------------
# ANNOTATION WITH UNIPROT INFO
#------------------------------------------

uniprot_annotation:
  input_dir: "2-sequence-parsing/processed-data"
  output_dir: "processed-data"
  organism: "Saccharomyces cerevisiae (strain ATCC 204508 / S288c) (Baker's yeast)."
  

#------------------------------------------
# IDR IDENTIFICATION & PROPERTY PREDICTION
#------------------------------------------

idr_properties:
  input_dir: "3-uniprot-annotation/processed-data"
  output_dir: "processed-data"
  min_idr_length: 30
  disorder_resi_cut: 0.5
  disorder_prot_cut: 0.5
  seq_column: "signalP_trimmed_sequence"


#------------------------------------------
# ΔG PREDICTIONS
#------------------------------------------

dG_predictions:
  input_dir: "4-idr-properties/processed-data"
  output_dir: "processed-data"
  run_cagiada: True
  temperature: 300
  ESM_model: "0-download-inputs/data-files/esm_if1_gvp4_t16_142M_UR50.pt"
  structure_dir: "0-download-inputs/data-files"
  seq_column: "signalP_trimmed_sequence"


#------------------------------------------
# Flatten nodes pd.DataFrame
#------------------------------------------

flatten_nodes:
  input_dir: "5-dG-calculations/processed-data"
  output_dir: "processed-data"
